.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px; /* Optional: space between the columns */
}

.left-column, .right-column {
  flex: 1;
  /* Optional: adjust width if needed */
}

.full-width {
  width: 100%;
}

mat-form-field{
  margin: 10px;
  width: 320px;
}
