<h2 mat-dialog-title>Changer le Mot de Passe</h2>
<mat-dialog-content>
  <form [formGroup]="motePasseForm">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Mot De Passe Precedent</mat-label>
      <input matInput type="password" [formControlName]="'password'" [minLength]="8"/>
<!--      <mat-error *ngIf="motePasseForm.controls.password.hasError('required')">Mot de passe is required</mat-error>-->
<!--      <mat-error *ngIf="motePasseForm.controls.password.hasError('minlength')">Mot de passe must be at least 8 characters long</mat-error>-->
<!--            <mat-error *ngIf="motePasseForm.controls.password.hasError('required')">Mote de passe is required</mat-error>-->
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Mot De Passe</mat-label>
      <input matInput type="password" [formControlName]="'newPassword'" [minLength]="8"/>
      <!--      <mat-error *ngIf="motePasseForm.controls.password.hasError('required')">Mot de passe is required</mat-error>-->
      <!--      <mat-error *ngIf="motePasseForm.controls.password.hasError('minlength')">Mot de passe must be at least 8 characters long</mat-error>-->
      <!--            <mat-error *ngIf="motePasseForm.controls.password.hasError('required')">Mote de passe is required</mat-error>-->
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Confirmer Mot De Passe</mat-label>
      <input matInput type="password" [formControlName]="'confirmPassword'" [minLength]="8"/>
<!--            <mat-error *ngIf="motePasseForm.controls.confirmPassword.hasError('required')">Mote de Passe is required</mat-error>-->
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions style="display:flex;justify-content: end">
  <button mat-button mat-dialog-close style="background-color: #62c2ea">Annuler</button>
  <button mat-button style="background-color: #62c2ea" (click)="onYesClick()" [disabled]="motePasseForm.invalid">Modifier</button>
</mat-dialog-actions>
